!!!
html
  head
    title Streakers Wall
    link(rel="stylesheet", href="wall/style.css")
    link(rel="stylesheet", href="create_post/style.css")
  body
    #wall
      h1 Streakers Wall
      != components.create_post()
      each post in wall
        .post
          p #{post.message}
